@model IEnumerable<Show>
@foreach (var show in Model.OrderBy(s => s.Date))
{
	<section class="show">
		<span class="artist">
			<h2>@show.Headliner.Name</h2>
			@String.Join(", ", show.SupportArtists.Select(a => a.Name))
		</span>
		<span class="venue">@show.Venue.Name</span>
		<span class="show-date">@show.Date</span>
	</section>
}
