@page
@model Rockaway.WebApp.Pages.PrivacyModel
<!DOCTYPE html>
<html>
    <head>
        <title>@Model.Heading</title>
    </head>
    <body>
		<h1>@Model.Heading</h1>        
        <p>See? Razor Pages is working!</p>
    </body>
</html>
